@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  font-family: 'Roboto', arial;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.container {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

h1 {
  font-size: 24px;
  margin: 25px;
}

form {
  width: 45%;
  display: flex;
  align-items: center;
}

.buttons {
  display: inline-block;
}

button {
    cursor: pointer;
}

.material-symbols-outlined {
    vertical-align: middle;
    margin: 0 5px;
}

.divider {
    font-size: 20px;
}

#task_list {
  width: 400px;
}

.group-of-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px;
  background-color: #e3e3e3;
  margin-top: 5px;
}

#task_list div:hover {
  text-decoration: underline;
}

#task_list div:hover i {
  opacity: 1;
}

i {
  cursor: pointer;
  opacity: 0;
}

.single-tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 5px; 
  margin: 5px 0;
  padding-left: 18px;
}

.single-tasks:hover {
  text-decoration: underline;
  background-color: #f3f3f3;
}

.single-tasks:hover i {
  opacity: 1;
}

.options {
  display: flex;
  gap: 5px;
}

.extra-option {
  display: flex;
  gap: 10px;
  opacity: 0;
  color: #a3a3a3;
}

.extra-option:hover {
  opacity: 1;
}

.extra-option div:hover {
  color: #111;
}

.extra-option div:hover button {
  color: #111;
}

.extra-button {
  border: none;
  text-decoration: underline;
  text-underline-offset: 4px;
  background-color: transparent;
  color: #a3a3a3;
}

.extra-button:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}




